.login-card {
    width: 450px;
    text-align: center;
}

#submit {
    display: inline-block; text-align: center;margin-top: 0.5%;border-color: #2ca0ff; background-color: #2ca0ff
}

#registratelink{

    display: inline-block;
    margin-top:0.5%;
    border-color: #2ca0ff;
    background-color: #2ca0ff
}
#olvidastelink{
    display: block; margin-top: 0.5%;
}

.login-client {
width: 40%; 
text-align: center; 
margin-left: 30%;
margin-right: 30%;    
margin-top: 3%;
}

.login-employee {
width: 40%; 
text-align: center; 
margin-left: 30%;
margin-right: 30%;    
margin-top: 3%;    
}

@media (min-width: 500px){
.login-client {
width: 33%; 
text-align: center; 
margin-left: 33%;
margin-right: 33%;    
margin-top: 3%;
}

.login-employee {
width: 33%; 
text-align: center; 
margin-left: 33%;
margin-right: 33%;    
margin-top: 3%;    
}
}

.btn-success { 
    margin-top: 23px;
    color: #fff;
    background-color: #2ca0ff;
    border-color: #2ca0ff;

}